/build*/
/artifacts/
/dist/
/web/node_modules/
*.tmp
*.save
*.save.bak
audio.cfg
/assets/town/town.scene.bak
/assets/town/town.nav.bak
*:Zone.Identifier

/assets/frontier/town.nav.bak
/assets/redstone/town.scene.bak
/assets/redstone/town.nav.bak
__pycache__/
